---
import Navbar from "../../components/Navbar.astro";
import Layout from "../../layouts/Layout.astro";
// glob either md or mdx
const posts = await Astro.glob("../../content/blog/*.{md, mdx}");
---

<Layout title="Blog • Kelvin Wong">
  <Navbar />
  <h4>Blog</h4>
  <h1>A place where I can blab into the void</h1>
  <!-- TODO: add preview components (hopefully dynamically) -->
</Layout>
