---
import { getCollection } from "astro:content";
import BlogPreview from "../../components/BlogPreview.astro";
import Navbar from "../../components/Navbar.astro";
import Layout from "../../layouts/Layout.astro";

const posts = (
  await getCollection("blog", ({ data }) => {
    return data.isDraft !== true;
  })
).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout title="Blog • Kelvin Wong">
  <div class="m-auto max-w-prose p-5">
    <Navbar />
    <span class="text-3xl text-moona-yellow">Blog</span>
    <h1>A place where I can blab into the void</h1>
    {
      posts.map((post) => (
        <div class="my-5">
          <BlogPreview
            url={`/blog/${post.slug}`}
            title={post.data.title}
            snippet={post.data.snippet}
          />
        </div>
      ))
    }
  </div>
</Layout>
