@tailwind base;
@tailwind utilities;
@tailwind components;

.card:after {  
  content: "";
  height: 40px;
  width: 1px;  
  position: absolute;  
  left: -1px;
  top: 65%;
  transition: top, opacity;
  transition-duration: 600ms;
  transition-timing-function: ease;
  @apply bg-gradient-to-r from-moona-yellow to-transparent dark:from-anya-darkPurple;
  opacity: 0;
}

.card:after {  
  top: 80%;
  opacity: 0;
}

.card:hover:after {
  top: 20%;
  opacity: 1;
}