@tailwind base;
@tailwind utilities;
@tailwind components;

/* @keyframes rotate {
  from {
    rotate: 0deg;
  }
  
  50% {
    scale: 1 1.5;
  }
  
  to {
    rotate: 360deg;
  }
} */

#blob {
  background-color: white;
  height: 34vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  @apply bg-gradient-to-r from-moona-darkYellow to-moona-lightYellow;
  animation: rotate 20s infinite;
  opacity: 0.05;
}

#blur { 
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(12vmax);
}
