---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Navbar from "../components/Navbar.astro";
import TechnologyButton from "../components/TechnologyButton";
---

<Layout title="About • Kelvin Wong">
  <main>
    <Navbar underline="about" />
    <h1 class="text-3xl text-moona-darkPurple dark:text-moona-yellow">About</h1>
    <div class="my-5">
      I'm a passionate software developer with expertise in Typescript, React,
      and Python. I love designing and implementing web-based solutions, and I
      thrive in collaborative environments where I can tackle complex
      challenges.
    </div>
    <div class="my-5">
      Outside of coding, I am fond of cats and find that they always brighten my
      day. You'll also find me bouldering, playing badminton and pool, and
      exploring the city for unique cafes where I can savour a cup of coffee.
    </div>
    <div class="my-5 text-xl text-moona-darkPurple dark:text-moona-yellow">
      Core Competencies
    </div>
    <div class="grid grid-cols-2 gap-5 md:grid-cols-4">
      <TechnologyButton
        client:visible
        href="https://html.spec.whatwg.org/multipage/"
        icon="vscode-icons:file-type-html"
        name="HTML"
      />
      <TechnologyButton
        client:visible
        href="https://www.w3.org/Style/CSS/Overview.en.html"
        icon="vscode-icons:file-type-css"
        name="CSS"
      />
      <TechnologyButton
        client:visible
        href="https://tailwindcss.com"
        icon="vscode-icons:file-type-tailwind"
        name="TailwindCSS"
      />
      <TechnologyButton
        client:visible
        href="https://www.javascript.com/"
        icon="logos:javascript"
        name="Javascript"
      />
      <TechnologyButton
        client:visible
        href="https://www.typescriptlang.org/"
        icon="vscode-icons:file-type-typescript-official"
        name="Typescript"
      />
      <TechnologyButton
        client:visible
        href="https://reactjs.org/"
        icon="logos:react"
        name="React"
      />
      <TechnologyButton
        client:visible
        href="https://nodejs.org"
        icon="logos:nodejs"
        name="Node.js"
      />
      <TechnologyButton
        client:visible
        href="https://www.python.org/"
        icon="logos:python"
        name="Python"
      />
      <TechnologyButton
        client:visible
        href="https://flask.palletsprojects.com/"
        icon="simple-icons:flask"
        name="Flask"
      />
      <TechnologyButton
        client:visible
        href="https://java.com"
        name="Java"
        icon="logos:java"
      />
      <TechnologyButton
        client:visible
        href="https://junit.org"
        name="JUnit"
        icon="devicon:junit"
      />
      <TechnologyButton
        client:visible
        icon="vscode-icons:file-type-git"
        name="Git"
        href="https://git-scm.com/"
      />
      <TechnologyButton
        client:visible
        icon="logos:docker-icon"
        name="Docker"
        href="https://www.docker.com/"
      />
      <TechnologyButton
        client:visible
        href="https://sqlite.org"
        icon="vscode-icons:file-type-sqlite"
        name="SQLite"
      />
      <TechnologyButton
        client:visible
        href="https://www.mongodb.com/"
        icon="logos:mongodb-icon"
        name="MongoDB"
      />
      <TechnologyButton
        client:visible
        href="https://cloud.google.com/"
        icon="logos:google-cloud"
        name="Google Cloud"
      />
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
</style>
