---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import SideSocialList from "../components/SideSocialList";
import SideEmail from "../components/SideEmail";
import ArrowDown from "../components/ArrowDown";
import TechnologyButton from "../components/TechnologyButton";
import Link from "../components/TextLink.astro";
---

<Layout title="Kelvin Wong">
  <div class="hidden md:inline-block">
    <SideSocialList />
    <SideEmail />
  </div>
  <main transition:animate="slide">
    <Navbar />
    <div class="min-h-[94vh]">
      <h3 class="my-4 text-lg">Hi, my name is</h3>
      <h1
        class="transform-all my-4 max-w-fit text-3xl font-bold text-anya-darkPurple duration-300 hover:text-4xl dark:text-moona-lightPurple"
      >
        Kelvin Wong
      </h1>
      <hr
        class="my-4 w-40 border-2 border-moona-darkPurple dark:border-moona-yellow"
      />
      <div class="my-4 text-lg">
        I am a software engineer who is currently a 4th year student at UBC in
        <Link
          target="_blank"
          href="https://ece.ubc.ca"
          title="computer engineering"
        />. I am currently interning at
        <Link target="_blank" href="https://amazon.com" title="Amazon" /> on the
        North American Payments team. I've previously also interned as an AI developer
        at
        <Link
          target="_blank"
          href="https://netint.ca"
          title="NETINT Technologies"
        />, working on improving developer productivity through generative AI.
      </div>

      <div class="my-5 text-lg">
        I became interested in software development during the COVID pandemic,
        where I played <Link
          target="_blank"
          href="https://www.curseforge.com/minecraft/modpacks/sevtech-ages"
          title="modded Minecraft"
        />. Playing an engineering modpack taught me value of reading
        documentation, reverse-engineer bottlenecks, and scaling up my solutions
        to automate systems. I found the process of solving these problems to be
        rewarding, and realized that software development scratched the same
        itch.
      </div>

      <!-- <div class="my-5 text-lg">
        Since then, I have been working on <Link
          href="/projects"
          title="projects"
        /> to enhance everyday productivity. While working on these projects, I take
        ownership of the entire stack, from the frontend to the backend. As a result,
        I have developed proficiency with full-stack technologies such as React,
        Typescript, and Python. Recently, I've been interested in AI and have contributed
        to several open-source projects such as
        <Link
          target="_blank"
          href="https://github.com/mckaywrigley/chatbot-ui"
          title="Chatbot-UI"
        />.
      </div> -->

      <div class="my-5 text-lg">
        Outside of coding, I am fond of cats and find that they always brighten
        my day. You'll also find me bouldering, playing badminton and pool, and
        exploring the city for unique cafes where I can savour a cup of coffee.
      </div>
    </div>

    <ArrowDown client:load />

    <div class="">
      <div class="my-5 text-2xl text-moona-darkPurple dark:text-moona-yellow">
        Core Competencies
      </div>
      <div class="grid grid-cols-2 gap-5 md:grid-cols-4">
        <TechnologyButton
          client:visible
          href="https://html.spec.whatwg.org/multipage/"
          icon="vscode-icons:file-type-html"
          name="HTML"
        />
        <TechnologyButton
          client:visible
          href="https://www.w3.org/Style/CSS/Overview.en.html"
          icon="vscode-icons:file-type-css"
          name="CSS"
        />
        <TechnologyButton
          client:visible
          href="https://tailwindcss.com"
          icon="vscode-icons:file-type-tailwind"
          name="TailwindCSS"
        />
        <TechnologyButton
          client:visible
          href="https://www.javascript.com/"
          icon="logos:javascript"
          name="Javascript"
        />
        <TechnologyButton
          client:visible
          href="https://www.typescriptlang.org/"
          icon="vscode-icons:file-type-typescript-official"
          name="Typescript"
        />
        <TechnologyButton
          client:visible
          href="https://reactjs.org/"
          icon="logos:react"
          name="React"
        />
        <TechnologyButton
          client:visible
          href="https://nodejs.org"
          icon="logos:nodejs"
          name="Node.js"
        />
        <TechnologyButton
          client:visible
          href="https://www.python.org/"
          icon="logos:python"
          name="Python"
        />
        <TechnologyButton
          client:visible
          href="https://flask.palletsprojects.com/"
          icon="simple-icons:flask"
          name="Flask"
        />
        <TechnologyButton
          client:visible
          href="https://java.com"
          name="Java"
          icon="logos:java"
        />
        <TechnologyButton
          client:visible
          href="https://junit.org"
          name="JUnit"
          icon="devicon:junit"
        />
        <TechnologyButton
          client:visible
          icon="vscode-icons:file-type-git"
          name="Git"
          href="https://git-scm.com/"
        />
        <TechnologyButton
          client:visible
          icon="logos:docker-icon"
          name="Docker"
          href="https://www.docker.com/"
        />
        <TechnologyButton
          client:visible
          href="https://sqlite.org"
          icon="vscode-icons:file-type-sqlite"
          name="SQLite"
        />
        <TechnologyButton
          client:visible
          href="https://www.mongodb.com/"
          icon="logos:mongodb-icon"
          name="MongoDB"
        />
        <TechnologyButton
          client:visible
          href="https://cloud.google.com/"
          icon="logos:google-cloud"
          name="Google Cloud"
        />
      </div>
    </div>
  </main>
</Layout>
