---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Navbar from "../components/Navbar.astro";
import SocialList from "../components/SideSocialList";
import SideEmail from "../components/SideEmail";
---

<Layout title="Kelvin Wong">
  <main>
    <Navbar />
    <div class="hidden md:inline-block">
      <SocialList />
      <SideEmail />
    </div>
    <div class="my-4 animate-[fall_200ms_ease-in-out] text-lg">
      Hi, my name is
    </div>
    <div class="my-4 animate-[fall_400ms_ease-in-out] text-3xl font-bold">
      Kelvin Wong
    </div>
    <hr
      class="my-4 w-40 animate-[fall_600ms_ease-in-out] border-2 border-red-700"
    />
    <div class="my-4 animate-[fall_800ms_ease-in-out] text-lg">
      I am an aspiring software engineer who is currently a 3rd year student at
      UBC in <a href="https://ece.ubc.ca" class="text-red-600">
        computer engineering.</a
      >
      I am currently a software developer interning at <a
        href="https://arisenv.ca"
        class="text-red-600">ARIS</a
      >.
    </div>
    <div class="mt-10 animate-[fall_1000ms_ease-in-out] text-lg">
      Learn more
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
</style>
