---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import ProjectSelector from "../components/ProjectSelector";
import SideSocialList from "../components/SideSocialList";
import SideEmail from "../components/SideEmail";
---

<Layout title="Projects • Kelvin Wong">
  <div class="hidden md:inline-block">
    <SideSocialList />
    <SideEmail />
  </div>
  <main transition:animate="slide">
    <Navbar underline="projects" />
    <h1 class="mb-5 text-3xl text-moona-darkPurple dark:text-moona-yellow">
      Projects
    </h1>
    <ProjectSelector client:load />
  </main>
</Layout>
