---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import ProjectSelector from "../components/ProjectSelector";
---

<Layout title="Projects • Kelvin Wong">
  <main>
    <Navbar underline="projects" />
    <h1 class="mb-5 text-3xl text-moona-darkPurple dark:text-moona-yellow">
      Projects
    </h1>
    <ProjectSelector />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
</style>
