---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import ProjectSelector from "../components/ProjectSelector";
---

<Layout title="Projects • Kelvin Wong">
  <main>
    <Navbar />
    <ProjectSelector />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
</style>
