---
import { getCollection } from "astro:content";
import BlogPreview from "../../components/BlogPreview.astro";
import Navbar from "../../components/Navbar.astro";
import Layout from "../../layouts/Layout.astro";
import SideSocialList from "../../components/SideSocialList";
import SideEmail from "../../components/SideEmail";

const posts = (
  await getCollection("blog", ({ data }) => {
    return data.isDraft !== true;
  })
).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout title="Blog • Kelvin Wong">
  <main>
    <Navbar underline="blog" />
    <div class="hidden md:inline-block">
      <SideSocialList />
      <SideEmail />
    </div>
    <h1
      class="animate-[fall_200ms_ease-in-out] text-3xl text-moona-darkPurple dark:text-moona-yellow"
    >
      Blog
    </h1>
    {
      posts.map((post, index) => (
        <div class={`my-5 animate-[fall_${(index + 2) * 200}ms_ease-in-out]`}>
          <BlogPreview
            url={`/blog/${post.slug}`}
            title={post.data.title}
            snippet={post.data.snippet}
          />
        </div>
      ))
    }
  </main>
</Layout>
