---
import logo from '../../public/calvin.png'
---
<div class="flex flex-row items-center">

  <div class="hidden md:inline-flex">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/blog">Blog</a>
  </div>
  <div>
    <img src={logo} alt="Logo" class="h-8" />
  </div>
  <div class="grow"/>
  <button class="w-8 h-8 flex flex-col place-content-evenly align-baseline items-end">
    <div class="border border-red-700 w-8"/>
    <div class="border border-red-700 w-6"/>
    <div class="border border-red-700 w-8"/>
  </button>
  <!-- <button class="hidden md:inline-flex">Resume</button> -->
</div>