---
import logo from '../public/calvin.png'
import MenuButton from './MenuButton'
import LightSwitch from './LightSwitch'
import ResumeButton from './ResumeButton'
---
<div class="flex flex-row items-center">
  <a href="/" class="mr-5">
    <img src={logo} alt="Logo" class="h-8" />
  </a>

  <div class="hidden sm:inline-flex gap-5">
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/blog">Blog</a>
  </div>

  <div class="grow"/>

  <LightSwitch client:load/>

  <div class="inline-flex sm:hidden">
    <MenuButton client:load/>
  </div>

  <ResumeButton />
</div>