---
import MenuButton from "./MenuButton";
import LightSwitch from "./LightSwitch";
import ResumeButton from "./ResumeButton";
import { Image } from "astro:assets";
import calvLogo from "../images/calvin.png";
import NavLink from "./NavLink.astro";

const { underline } = Astro.props;
---

<div class="flex flex-row items-center pb-5" id="navbar">
  <a href="/" class="mr-5">
    <Image src={calvLogo} alt="logo" width="50" height="50" />
  </a>

  <div class="hidden gap-5 dark:text-moona-yellow md:inline-flex">
    <NavLink
      href="projects"
      underline={underline === "projects"}
      title="Projects"
    />
    <NavLink
      href="experience"
      underline={underline === "experience"}
      title="Experience"
    />
    <NavLink
      href="/resume.pdf"
      underline={underline === "resume"}
      title="Resume"
      target="_blank"
    />
  </div>

  <div class="grow"></div>

  <LightSwitch client:load />

  <div class="inline-flex md:hidden">
    <MenuButton client:load />
  </div>
</div>
<!-- used for portaling in <MenuButton /> -->
<div id="mobilemenu"></div>
