---
import MenuButton from "./MenuButton";
import LightSwitch from "./LightSwitch";
import ResumeButton from "./ResumeButton";
import { Image } from "astro:assets";
import calvLogo from "../images/calvin.png";

const { underline } = Astro.props;
---

<div class="flex flex-row items-center pb-5" id="navbar">
  <a href="/" class="mr-5">
    <Image src={calvLogo} alt="logo" width="50" height="50" />
  </a>

  <div class="hidden gap-5 dark:text-moona-yellow md:inline-flex">
    <div class="inline-block">
      <a
        href="/projects"
        class={`${
          underline === "projects"
            ? "underline decoration-2 underline-offset-2 decoration-moona-purple dark:decoration-moona-yellow"
            : "group transition duration-300"
        } `}
        >Projects
        <span
          class="-z-10 -mt-1 block h-0.5 max-w-0 bg-moona-darkPurple transition-all duration-500 group-hover:max-w-full dark:bg-moona-yellow"
        ></span></a
      >
    </div>
    <div class="inline-block">
      <a
        href="/experience"
        class={`${
          underline === "experience"
            ? "underline decoration-2 underline-offset-2 decoration-moona-purple dark:decoration-moona-yellow"
            : "group transition duration-300"
        } `}
        >Experience
        <span
          class="-z-10 -mt-1 block h-0.5 max-w-0 bg-moona-darkPurple transition-all duration-500 group-hover:max-w-full dark:bg-moona-yellow"
        ></span></a
      >
    </div>
    <div class="inline-block">
      <a
        target="_blank"
        href="/resume.pdf"
        class={`${
          underline === "resume"
            ? "underline decoration-2 underline-offset-2 decoration-moona-purple dark:decoration-moona-yellow"
            : "group transition duration-300"
        } `}
        >Resume
        <span
          class="-mt-1 block h-0.5 max-w-0 bg-moona-darkPurple transition-all duration-500 group-hover:max-w-full dark:bg-moona-yellow"
        ></span></a
      >
    </div>
  </div>

  <div class="grow"></div>

  <LightSwitch client:load />

  <div class="inline-flex md:hidden">
    <MenuButton client:load />
  </div>
</div>
<!-- used for portaling in <MenuButton /> -->
<div id="mobilemenu"></div>
