body {
  background-color: #505168;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

html {
  padding-left: 10%;
  padding-top: 5%;
}

.bold {
  font-weight: bold;
}

.name-color {
  color: #EAEFD3;
}

h2 {
  font-size: 2em;
  font-weight: 100;
  letter-spacing: 2px;
  font-family: 'Trebuchet MS';
}

.text-body {
  width: 100%;
  color: white;
  font-family: 'Trebuchet';
}

.small-text {
  font-size: 20px;
}

button {
  cursor: pointer;
  padding: 4px 20px;
  margin: 4px 2px;
}

.banner-button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
  background: none;
}

.nav-item {
  text-decoration: none;
}

.nav-item:hover {
  text-decoration: underline;
}

.icon-img {
  background: transparent;
}

.icon-button {
  cursor: pointer;
  opacity: 50%;
  transition-property: opacity;
  transition-duration: 1s;
  background-color: transparent;
  font-size: 32px;
}

.icon-button:hover {
  opacity: 100%;
}

header {
  overflow: hidden;
  background-color: #27233A;
  padding: 5px 8px;
  border-right: 2px solid whitesmoke;
  font-family: 'Trebuchet MS';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 80%;
}

a.nav-item {
  color: white;
  font-size: 16px;
  text-underline-offset: 0.2em;
  overflow: auto;
}

.header a.logo {
  font-weight: bold;
}

/* .flex-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100px;
} */

.banner-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* flex-wrap: wrap; */
} 

.header-bottom {
  justify-content: flex-end;
  /* flex-direction: column; */
  /* align-self: flex-end; */
}

.flex-grow {
  flex-grow: 1;
}

.text-box {
  width: 30%;
  height: 30%;
}

.flex {
  display: flex;
}

/* .fade {

} */