.bold {
  font-weight: bold;
}

.name-color {
  color: #ea5d5d;
}

h2 {
  font-size: 2em;
  font-weight: 100;
  letter-spacing: 2px;
}

.text-body {
  width: 100%;
  color: #5e4579;
}

.small-text {
  font-size: 1.2em;
}