.bold {
  font-weight: bold;
}

.name-color {
  color: #ea5d5d;
}

h2 {
  font-size: 2em;
  font-weight: 100;
  letter-spacing: 2px;
}

.text-body {
  width: 100%;
  color: #5e4579;
  margin-left: 20vw;
  margin-top: 20vh;
  flex-direction: column;  
}

.text {
  padding: 5px 8px;
  max-width: 70%;
  letter-spacing: 0.1em;
}

.small-text {
  font-size: 1.2em;
}

.accordion {
  width: calc(100vw - 40vw);
}

.MuiTypography-body1 {
  text-overflow: ellipsis;
  overflow: hidden;
}

.MuiAccordionDetails-root {
  background: #dbd9dd;
} 