---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html class="dark" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Kelvin Wong's personal site." />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }

      /* for stars */
      const root = document.documentElement;
      const generateBoxShadow = (n: number) => {
        let boxShadowValue = "";
        for (let i = 0; i < n; i++) {
          const x = Math.floor(Math.random() * window.innerWidth);
          const y = Math.floor(Math.random() * 2000);
          boxShadowValue += `${x}px ${y}px ${
            document.documentElement.classList.contains("dark")
              ? "#FFF"
              : "#BDACE3"
          }, `;
        }
        return boxShadowValue.slice(0, -2); // Remove the trailing comma and space
      };

      const handleThemeChange = () => {
        const boxShadowSmall = generateBoxShadow(700);
        const boxShadowMedium = generateBoxShadow(200);
        const boxShadowBig = generateBoxShadow(100);

        root.style.setProperty("--box-shadow-small", boxShadowSmall);
        root.style.setProperty("--box-shadow-medium", boxShadowMedium);
        root.style.setProperty("--box-shadow-big", boxShadowBig);
      };

      // Update stars immediately when theme is toggled
      document.addEventListener("DOMContentLoaded", () => {
        handleThemeChange();
      });

      const classListObserver = new MutationObserver(handleThemeChange);
      classListObserver.observe(document.documentElement, {
        attributes: true, // Watch for attribute changes
        attributeFilter: ["class"], // Only watch for changes in the class attribute
      });
    </script>
  </head>
  <body
    class="min-h-screen bg-moona-white text-moona-black dark:bg-anya-darkPurple dark:text-moona-white"
  >
    <div id="stars" class="h-1 w-1 bg-transparent"></div>
    <div id="stars2" class="h-2 w-2 bg-transparent"></div>
    <div id="stars3" class="h-3 w-3 bg-transparent"></div>
    <slot />
  </body>

  <style is:global>
    @import "../styles/stars.css";

    html {
      font-family: system-ui, sans-serif;
      height: 100%;
    }
    /* tailwind md class */
    @media (min-width: 768px) {
      main {
        max-width: 60%;
      }
    }
    main {
      margin: auto;
      padding: 1.5rem;
    }
  </style>
</html>
