---
export interface Props {
  title: string;
}

const { title } = Astro.props;
import { ViewTransitions } from "astro:transitions";
import BgStars from "../components/BgStars";
---

<!DOCTYPE html>
<html class="dark" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Kelvin Wong's personal site." />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="src/images/calvin.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script is:inline>
      // Detect dark theme after ViewTransitions has finished
      const setTheme = () => {
        const theme = (() => {
          if (
            typeof localStorage !== "undefined" &&
            localStorage.getItem("theme")
          ) {
            return localStorage.getItem("theme");
          }
          if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
            return "dark";
          }
          return "light";
        })();

        if (theme === "light") {
          document.documentElement.classList.remove("dark");
        } else {
          document.documentElement.classList.add("dark");
        }

        window.localStorage.setItem("theme", theme || "light");
      };

      setTheme();

      document.addEventListener("astro:after-swap", setTheme);
      // Set theme on page load, prevent flash of dark theme
      document.addEventListener("astro:page-load", setTheme);
    </script>
    <ViewTransitions />
  </head>
  <body
    class="min-h-screen overflow-y-scroll bg-moona-white text-moona-black dark:bg-anya-darkPurple dark:text-moona-white"
  >
    <BgStars client:only="react" />
    <slot />
    <style is:global>
      html {
        font-family: system-ui, sans-serif;
        height: 100%;
      }
      /* tailwind md class */
      @media (min-width: 768px) {
        main {
          max-width: 50%;
        }
      }
      main {
        margin: auto;
        padding: 1.5rem;
      }

      body {
        @apply overflow-x-hidden;
      }
    </style>
  </body>
</html>
